 <%= javascript_pack_tag 'categories' %>

<div class="winnow-container">
  <div class="card winnow-content">
  <div class="card-header">
    Categorize Claims
  </div>
  <div class="card-body">
    <div class="diminutive-title">Claim:</div>
    <p class="card-text"><%= @claim.statement %></p>
    <hr>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm diminutive-title">Speaker:</div>
          <div class="col-sm additional-info"><%= @claim.speaker_name %> — <%= @claim.speaker_title %></div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm diminutive-title">Date:</div>
          <div class="col-sm additional-info"><%= @claim.date %></div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm diminutive-title">Publication:</div>
          <div class="col-sm additional-info"><%= @claim.publisher_name %></div>
        </div>
      </div>
    </div>
    <hr>
    <%= form_with do %>
    <div id="categories"></div>
    <hr>
      <!-- <button type="submit" style="float:left" class="btn btn-outline-secondary submit">Skip</button> -->
      <button type="submit" class="btn btn-outline-info submit">Save</button>
    <% end %>
  </div>
</div>
</div>
