 <%= javascript_pack_tag 'categories' %>

<div class="winnow-container">
  <div class="card winnow-content border-info">
  <div class="card-header">
    Categorize Claims
  </div>
  <div class="card-body">
    <div class="diminutive-title">Claim:</div>
    <p class="card-text"><%= @claim.statement %></p>
    <hr>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm diminutive-title">Speaker:</div>
          <div class="col-sm additional-info"><%= @claim.speaker_name %> — <%= @claim.speaker_title %></div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm diminutive-title">Date:</div>
          <div class="col-sm additional-info"><%= @claim.date %></div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm diminutive-title">Publication:</div>
          <div class="col-sm additional-info"><%= @claim.publisher_name %></div>
        </div>
      </div>
    </div>
    <hr>
    <%= form_with path: winnow_submit_path, method: :patch do %>
    <%= hidden_field(:claim, :id) %>
    <div id="categories" data-categories="<%= @categories.to_json %>" data-assigned-categories="<%= @claim.categories.to_json %>"></div>
    <hr>
      <%= link_to "Skip", winnow_index_url, class: "btn btn-outline-secondary submit", style: "float: left" %>
      <button type="submit" class="btn btn-outline-info submit">Save</button>
    <% end %>
  </div>
</div>
</div>
