<div class="devise-container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="login-logo">
      <i class="fas fa-sitemap"></i>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>

    <%= f.label :email, class: "sr-only" %><br />
    <%= f.email_field(
          :email,
          autofocus: true,
          autocomplete: "email",
          class: "form-control round-corners",
          placeholder: "Email address"
        )
    %>

    <%= f.submit "Reset password", class: "btn btn-lg btn-primary btn-block single-field-form-button" %>
    <%= render "devise/shared/links" %>
    <p class="mt-5 mb-3 text-muted">
      A product of the <a href="https://www.reporterslab.org" target="_blank">Duke Reporters' Lab</a><br>
      Created by <a href="https://www.github.com/cguess" target="_blank">Christopher Guess</a>
    </p>
  <% end %>
</div>
