<!DOCTYPE html>
<html>
  <head>
    <title>Caucus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body>
    <%= render "shared/navigation_bar" %>
    <div class="container">
      <%= render "shared/messages" %>
      <%= yield %>
    </div>
  </body>
</html>
